*{
  box-sizing: border-box;
}


article {
  background-color: #fff;
  padding: 1rem;
  margin: 1.5rem auto;
  box-shadow: 0 0 1.5rem #5b5b5b;
  position: relative;
  width: 80%;
}
article::before,
article::after {
  content: "";
  position: absolute;
  top: -1rem;
  bottom: -1rem;
  left: -1rem;
  width: 50%;
}
article::before {
  left: -1rem;
  border-bottom: 1rem solid #DB3A34;
  border-left: 1rem solid #DB3A34;
}
article::after {
  left: .3rem;
  border-top: 1rem solid #DB3A34;
  border-bottom: 1rem solid #DB3A34;
  transform: skew(15deg);
}
